[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
docopt = "*"
wheel = "*"
setuptools = "*"
pylint = "*"
yapf = "*"
"ruamel.yaml" = "*"
cmdi = "*"
sty = "*"
prmt = "*"
headlines = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
