[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cmdi = "==0.1.0"
headlines = "==0.0.0a5"
prmt = "==0.0.0a8"
sty = "*"
"ruamel.yaml" = "*"


[dev-packages]

docopt = "*"
wheel = "*"
setuptools = "*"
pylint = "*"
yapf = "*"


[requires]

python_version = "3.6"
